html, body {
	color: #555;
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.row {
	height: 100%;
}

canvas {
	border: 1px dotted red;
  }
.side {
	-webkit-box-shadow: 4px 0px 4px -2px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 0px 4px -2px rgba(0,0,0,0.2);
	box-shadow: 4px 0px 4px -2px rgba(0,0,0,0.2);
	background-color: #fafafa;
	overflow-y: auto;
}

.header {
	text-align: center;
	padding: 0.5rem;
}

.actions button {
	margin-bottom: 7px;
	cursor: pointer;
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 2px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.9;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #36a2eb;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #36a2eb;
	cursor: pointer;
}

.input-group {
	margin-top: 10px;
}

.modal {
	z-index: 999 !important;
}

.modal-backdrop {
	z-index: 998 !important;
}